@import url(./reset.css);
:root{
    --color-primary:#4C6EF5;
    --color-blue: #3647c7;
    --gray-one:#191C1F;
    --gray-two:#212529;
    --gray-three:#343A40;
    --gray-for:#ADB5BD;
    --gray-five:#CED4DA;
    --gray-six:#EDF2FF;
    --gray-seven: #F8F9FA;


    --font-primary: "inter", sans-serif;
    --font-size-title-600: 3.25rem;
    --font-size-title-500: 2.5rem;
    --font-size-title-400: 2rem;
    --font-size-text-300: 1.25rem;
    --font-size-text-200: 1.12rem;
    --font-size-text-100: 1rem;
    
}