@import url(./globalStyles.css);


.main__container {
    max-width: 1256px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    height: 100%;

}

.header {
    max-width: 100%;
    height: clamp(4rem, 3.489rem + 1.925vw, 5rem);
    position: sticky;
    top: 0; 
    z-index: 1;
    background-color: var(--gray-one);
    color: var(--gray-seven);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--color-primary);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

    

.header__button {
    background-color: var(--gray-one);
    color: var(--gray-seven);
    padding: clamp(0.4rem, 0.298rem + 0.385vw, 0.6rem);
    border: solid 1px white;
    font-family: 'Inter', sans-serif;
}

.banner {
    margin: 0 auto;
    display: flex;
    padding: clamp(10rem, 8.721rem + 4.813vw, 12.5rem) clamp(1rem, 0.591rem + 1.54vw, 1.8rem);
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 0.886rem + 2.31vw, 2.7rem);
    background-color: var(--gray-two);
}

.banner__title {
    color: var(--gray-six);
    align-items: center;
    font-size: var(--font-size-title-600);
    line-height: 140%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

span {
    color: var(--color-primary);
    font-family: 'Inter', sans-serif;
}

.banner__paragraph {
    color: var(--gray-for);
    align-items: center;
    text-align: center;
    font-size: var(--font-size-text-300);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.banner__button {
    display: flex;
    height: clamp(2.5rem, 1.886rem + 2.31vw, 3.7rem);
    padding: Clamp(1.3rem, 0.942rem + 1.348vw, 2rem);
    justify-content: center;
    align-items: center;
    gap: clamp(0.4rem, 0.298rem + 0.385vw, 0.6rem);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--gray-seven);
    text-align: center;
    font-size: var(--font-size-text-100);
    font-family: 'Inter', sans-serif;
}

.about {
    background-color: var(--gray-one);
    display: flex;
    padding:clamp(6rem, 4.977rem + 3.851vw, 8rem);
    align-items: center;
    max-width: 100%;
}

.about__title {
    display: flex;
    width: 48%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-six);
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-title-500);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

}

.about_paragraph {
    width: clamp(18rem, 11.224rem + 25.511vw, 31.25rem);
    color: var(--gray-five);
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: --font-size-text-300;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.faq {
    max-width: 100%;
    display: flex;
    padding: clamp(3rem, 1.977rem + 3.851vw, 5rem) clamp(4rem, 2.977rem + 3.851vw, 6rem);
    align-items: flex-start;
    justify-content: space-between;
    gap: clamp(2rem, 1.489rem + 1.925vw, 3rem);
    background-color: var(--gray-two);
}

.faq__doubt {
    display: flex;
    width: 48%;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(1rem, 0.489rem + 1.925vw, 2rem);
    position: sticky;
    top: clamp(6rem, 4.977rem + 3.851vw, 8rem);
    left: clamp(1rem, 0.489rem + 1.925vw, 2rem);
    z-index: 0;

}

.faq__doubt--title {
    color: var(--gray-six);
    font-size: var(--font-size-title-500);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
}

.faq__doubt--paragraph {
    align-self: stretch;
    color: var(--gray-for);
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: var(font-size-text-300);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: clamp(15rem, 12.443rem + 9.627vw, 20rem);
}

.faq__doubt--button {
    display: flex;
    height: clamp(2rem, 1.105rem + 3.369vw, 3.75rem);
    padding: clamp(0.8rem, 0.57rem + 0.866vw, 1.25rem) clamp(1rem, 0.489rem + 1.925vw, 2rem);
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 0.449rem + 0.193vw, 0.6rem);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--gray-seven);
    text-align: center;
    font-size: var(--font-size-text-100);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    font-family: 'Inter', sans-serif;


}

.faq__list {
    display: flex;
    width: clamp(30rem, 26.931rem + 11.552vw, 36rem);
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
}

.faq__list--title {
    color: var(--gray-six);
    text-align: center;
    font-size: var(--font-size-title-400);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
    margin-top: clamp(1.5rem, 0.989rem + 1.925vw, 2.5rem);

}

.faq__list--paragraph {

    color: var(--gray-for);
    text-align: justify;
    font-size: var(--font-size-text-300);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    margin-top: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);

}

.comments {
    
    display: flex;
    align-items: flex-start;
    gap: clamp(3rem, 1.977rem + 3.851vw, 5rem);
    background-color: var(--gray-two);

}


.comments__list {
    display: flex;
    width: 0%;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(3rem, 2.489rem + 1.925vw, 4rem);
    padding: clamp(1rem, 0.489rem + 1.925vw, 2rem);
}


.comments__list--li {
    display: flex;
    align-items: flex-start;
    gap: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
}

.comments__list--div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(0.3rem, 0.198rem + 0.385vw, 0.5rem);
    flex-shrink: 0;
}

.comments__list--title {
    color: var(--gray-six);
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-title-400);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

}

.comments__list--paragraph-one {
    width: clamp(8rem, 6.466rem + 5.776vw, 11rem)11rem;
    height: clamp(1rem, 0.652rem + 1.309vw, 1.68rem);
    color: var(--gray-for);
    font-family: "inter", sans-serif;
    font-size: var(--font-size-text-100);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.comments__list--paragraph-two {
    width: clamp(22rem, 20.108rem + 7.124vw, 25.7rem);
    height: clamp(8rem, 6.466rem + 5.776vw, 11rem);
    flex-shrink: 0;
    color: var(--gray-five);
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-text-200);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.comments__boxBlue--div {

    align-items: flex-start;
    position: sticky;
    display: flex;
    padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    flex-direction: column;
    gap: clamp(1.3rem, 0.942rem + 1.348vw, 2rem);
    background-color: var(--color-primary);
    margin-top: 20%;
    top: clamp(6rem, 4.977rem + 3.851vw, 8rem);
    width:clamp(16rem, 13.954rem + 7.702vw, 20rem);
    margin-left: clamp(28rem, 23.909rem + 15.403vw, 36rem);
    margin-top: 0;

}

.comments__boxBlue--title {

    color: var(--gray-seven);
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-title-500);
    line-height: 140%;
    font-weight: 600;

}

.comments__boxBlue--paragraph {
    color: var(--gray-seven);
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-text-300);
    font-style: normal;
    line-height: 150%;
    font-weight: 400;

}

.footer {
    display: flex;
    max-width: 100%;
    height: clamp(4.3rem, 3.277rem + 3.851vw, 6.3rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.4rem, 0.298rem + 0.385vw, 0.6rem);
    background-color: var(--gray-one);
    color: var(--gray-six);
}

dialog{
    margin-top: clamp(3rem, 1.977rem + 3.851vw, 5rem);
    width: clamp(30rem, 27.954rem + 7.702vw, 34rem);
    height: clamp(24rem, 20.931rem + 11.552vw, 30rem);
    padding: 0;
    border: 2px solid var(--color-primary);
    align-items: center;
    background-color: var(--gray-two);


}

.modal__container{
    
    width: clamp(24rem, 20.164rem + 14.44vw, 31.5rem);
    height: clamp(20rem, 17.954rem + 7.702vw, 24rem);
    display: inline-flex;
    padding: clamp(1.3rem, 0.942rem + 1.348vw, 2rem) clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    flex-direction: column;
    align-items: center;
    gap: clamp(1.3rem, 0.942rem + 1.348vw, 2rem);
    justify-content: center;

}
.header__modal{
    display: flex;
    gap: clamp(15rem, 12.954rem + 7.702vw, 19rem);

}
.header__modal h1{
    color: var(--gray-seven);
    font-size: var(--font-size-title-400);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    align-items: flex-start;
}
.modal__container span{
    display: flex;
    width: clamp(1.8rem, 1.544rem + 0.963vw, 2.3rem);
    height: clamp(1.3rem, 0.942rem + 1.348vw, 2rem);
    background-color: var(--gray-three);
    align-items: center;
    justify-content: center;
}
.modal__container p{
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-text-100);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--gray-five);
    width: clamp(26rem, 23.954rem + 7.702vw, 30rem);
    align-items: center;
}

#email{
    display: flex;
    width: clamp(24rem, 21.954rem + 7.702vw, 28rem);
    padding: clamp(0.6rem, 0.447rem + 0.578vw, 0.9rem);
    font-size: var(--font-size-text-300);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background-color: var(--gray-one);
    border: 1px solid var(--gray-one);
}
.modal__container button{
    display: flex;
    width: clamp(25rem, 22.443rem + 9.627vw, 30rem);
    padding: clamp(0.6rem, 0.447rem + 0.578vw, 0.9rem);
    justify-content: center;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--gray-seven);
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-text-100);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 2px;
    cursor: pointer;


}

dialog::backdrop{
    background-color: rgba(0,0, 0, 0.6);
  }
  
  

  @media(max-width: 1024px){
    .banner__title{

        font-size: var(--font-size-title-600);
    }
    .about{
        padding: clamp(3rem, 2.489rem + 1.925vw, 4rem);
    }
    .about__title{
        font-size: var(--font-size-title-500);
    }
    .about_paragraph{
        font-size: var(--font-size-text-300);
    }
    .faq{
        padding: clamp(2rem, 1.489rem + 1.925vw, 3rem);

    }
    .faq__doubt{
        margin-top: clamp(2rem, 1.744rem + 0.963vw, 2.5rem);
    }

    .faq__doubt--title{
        font-size: var(--font-size-title-400);
    }
    .faq__doubt--paragraph{
        font-size: var(--font-size-text-300);
        width: clamp(15rem, 13.977rem + 3.851vw, 17rem);
        
    }
    .faq__doubt--button{
        padding: clamp(0.3rem, 0.198rem + 0.385vw, 0.5rem);
        font-size: var(--font-size-text-200);
    }
    .faq__list--title{
        font-size: var(--font-size-title-400);
    }
    .faq__list--paragraph{
        font-size: var(--font-size-text-100);

    }
    .comments__list{
        margin-top: clamp(3.5rem, 2.733rem + 2.888vw, 5rem);
        gap: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
        width: clamp(3.5rem, 2.733rem + 2.888vw, 5rem);
        padding: clamp(3.5rem, 2.733rem + 2.888vw, 5rem);
    }
    .comments__list--title{
        font-size:  var(--font-size-title-400);
    }
    .comments__list--paragraph-one{
        font-size: var(--font-size-text-100);
    }
    
    .comments__list--paragraph-two{
        font-size: var(--font-size-text-100);
    }
    .comments__boxBlue--div{
        margin-left:clamp(25rem, 23.466rem + 5.776vw, 28rem);
        width: 30%;
        padding: clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
        margin-top: clamp(5rem, 3.977rem + 3.851vw, 7rem);




    }
    .comments__boxBlue--title{
        font-size: var(--font-size-title-400);
    }
    .comments__boxBlue--paragraph{
        font-size:var(--font-size-text-200);
    }
    dialog{
        margin-top:clamp(4rem, 3.489rem + 1.925vw, 5rem);
        width: clamp(3rem, 2.489rem + 1.925vw, 4rem);
        height: clamp(25rem, 22.443rem + 9.627vw, 30rem);
        padding: 0;
        border: 2px solid var(--color-primary);
        align-items: center;
        background-color: var(--gray-two);
    
    
    }

  }
  @media(max-width: 768px){
    body{
        width: 100%;
    }
    .banner{
        padding: clamp(4rem, 3.489rem + 1.925vw, 5rem);


    }
    .banner__title{
        font-size: var(--font-size-title-600);
        margin-top: clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
    }
    .banner__paragraph{
        font-size: var(--font-size-text-300);
    }
    .banner__button{
        padding: clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
        height: clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
        font-size: var(--font-size-text-200);
        font-weight: 600;
        line-height: 160%;

    }
    .about{
        display: flex;
        flex-direction: column;
        gap: clamp(1.3rem, 0.942rem + 1.348vw, 2rem);

    }
    .about__title{
        font-size: var(--font-size-title-400);
    }

    .about_paragraph{
        width: 100%;
    }
    .faq{
        padding: clamp(1.3rem, 0.942rem + 1.348vw, 2rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: sticky;
    }
    .faq__doubt{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: static;
    }
    .faq__doubt--title{
        font-size: var(--font-size-title-400);

    }
    .faq__doubt--paragraph{
        width: 100%;
    }
    .faq__doubt--button{
        width: 100%;
        padding: clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
        font-size: var(--font-size-text-100);
    }
    .faq__list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .faq__list--title{
        font-size: var(--font-size-title-400);
    }
    .faq__list--paragraph{
        font-size: var(--font-size-text-200);
        width: 100%;
    }
    .comments{
        display: flex;
        flex-direction: column-reverse;
        padding:clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
        justify-content: center;
        gap: clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
        
    }
    
    .comments__boxBlue--div{
        margin: 0;
        margin-left: 0;
        width: 75%;
        position: static;
        top: 0;
        padding: clamp(4rem, 3.489rem + 1.925vw, 5rem);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comments__boxBlue--title{
    font-size: var(--font-size-title-400);
    }
    .comments__list{
        display: flex;
    }
    .comments__list--div{

        display: flex;
        flex-direction:row;
        align-items: center;
        gap: clamp(0.8rem, 0.698rem + 0.385vw, 1rem);
    }
    .comments__list--title{
        font-size: var(--font-size-title-400);
    }
    .comments__list--paragraph-one{
        font-size: var(--font-size-text-100);
    }
    .comments__list--li{
        display: flex;
        flex-direction: column;
 
    }
    .comments__list--paragraph-two{
        font-size: var(--font-size-text-200);
        width: clamp(25rem, 16.306rem + 32.732vw, 42rem);
    }
    dialog{
        margin-top: clamp(3rem, 1.977rem + 3.851vw, 5rem);
        width: 22rem;
        height: 22rem;
        padding: 0;
        padding-left: 5rem;
        padding-right: 0rem;

    
    
    }
    .modal__container{
        width: clamp(14rem, 10.931rem + 11.552vw, 20rem);
        height: clamp(18rem, 14.42rem + 13.478vw, 25rem);
        padding: 0;
    }
    .header__modal h1{
        font-size: var(--font-size-title-400);
    }
    .closeModal{
        font-size: var(--font-size-text-100);
    }
    .modal__container p{
        width: clamp(20rem, 15.909rem + 15.403vw, 28rem);
        font-size: var(--font-size-text-100);

    }
    #email{
        width: clamp(20rem, 16.931rem + 11.552vw, 26rem);
        font-size:var(--font-size-text-100);
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    .modal__container button{
        width: clamp(20rem, 15.909rem + 15.403vw, 28rem);
        font-size: var(--font-size-text-100);
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
        
    }


}

@media(max-width: 425px){
    .header{
        display: flex;
        justify-content: left;
        padding-left: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
        margin: 0;
    }
    .header__button{
        display: none;
    }
    .banner{
        padding: clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
    }

    .banner__paragraph{
        font-size:  var(--font-size-text-100);
    
    }
    .banner__button{
        padding: clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
        font-size: var(--font-size-text-100);
    }
    .about{
        padding:  clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
    }
    .about__title{
        align-items: center;
        padding-top: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
        font-size: var(--font-size-text-200);
    }
    .about_paragraph{
        font-size: var(--font-size-text-100);
        padding-bottom: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }

    .faq{
        display: flex;
        gap: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    .faq__doubt{
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    .faq__doubt--title{
        font-size: var(--font-size-text-200);
    }
    .faq__doubt--paragraph{
        font-size: var(--font-size-text-100);
    }
    .faq__doubt--button{
        padding:clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
        font-size: var(--font-size-text-100);
    }
    .faq__list{
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    .faq__list--title{
        font-size: var(--font-size-text-200);
    }
    .faq__list--paragraph{
        font-size: var(--font-size-text-100);
    }
    .comments{
        align-content: center;
        padding: clamp(0.3rem, 0.198rem + 0.385vw, 0.5rem);
    }
    .comments__boxBlue--div{
        width: clamp(21rem, 21rem + 0vw, 21rem);
        padding: clamp(2rem, 1.489rem + 1.925vw, 3rem);
    }
    .comments__boxBlue--title{
        font-size: var(--font-size-title-400);
    }
    .comments__boxBlue--paragraph{
        font-size:var(--font-size-text-100);
    }
    .comments__list{
        padding-left: 10%;
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
        gap: clamp(0.2rem, 0.047rem + 0.578vw, 0.5rem)
    }

    .comments__list--title{
        font-size: var(--font-size-title-400);
    }
    .comments__list--paragraph-one{
        margin-top: clamp(0.2rem, 0.047rem + 0.578vw, 0.5rem);
        font-size: clamp(0.5rem, 0.347rem + 0.578vw, 0.8rem);
    }
    .comments__list--paragraph-two{
        font-size: var(--font-size-text-100);
        width: clamp(18rem, 15.443rem + 9.627vw, 23rem);
    }
    .comments__list--li{
        padding-left: 50%;
    }
    dialog{
        
        margin-top: 40%;
        width: 16rem;
        height:16rem;
        padding: 0;
    
    
    
    }
    .modal__container{
       
        width: clamp(15rem, 12.443rem + 9.627vw, 20rem);
        height: clamp(15rem, 13.466rem + 5.776vw, 18rem);
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    .header__modal{
        gap: clamp(7rem, 5.466rem + 5.776vw, 10rem);
    }
    .header__modal h1{
        font-size: var(--font-size-text-200);
        padding-right:clamp(1rem, 0.489rem + 1.925vw, 2rem);
    }
    .modal__container span{
        width: clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
        height: clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
    }
    .closeModal{
        font-size: var(--font-size-text-100);
    }
    .modal__container p{
        font-size: var(--font-size-text-100);
        width: clamp(15rem, 12.443rem + 9.627vw, 20rem); 
        padding-left: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    #email{
        width: 90%;
        font-size: var(--font-size-text-100);
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);
    }
    .modal__container button{
        width: clamp(15rem, 12.443rem + 9.627vw, 20rem);
        font-size:var(--font-size-text-100);
        padding: clamp(0.5rem, 0.244rem + 0.963vw, 1rem);

        
    }

}
